@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Soyuz Grotesk";
  font-weight: 700;
  src: url("../fonts/Soyuz_Grotesk_Bold/SoyuzGroteskBold.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.main_container {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper_container {
  max-width: 1890px;
  padding: 0 20px;
  margin: 0 auto;
}

.lightboxOverlay {
  width: 100% !important;
}

.lightbox .lb-image {
  width: 100% !important;
  border: none;
  height: 800px !important;
}

.lb-container {
  width: 100% !important;
}

.lb-outerContainer {
  width: 100% !important;
  background-color: transparent;
}

.lb-dataContainer .lb-data .lb-close {
  position: absolute;
  top: 0;
  right: 5%;
  z-index: 10001;
}
.lb-dataContainer .lb-data .lb-number {
  display: none !important;
}

.main_title {
  color: #6E86C0;
  font-family: "Soyuz Grotesk";
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
  margin-bottom: 40px;
}

.main_title_under {
  max-width: 930px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 31.9px */
  margin-bottom: 40px;
}

.main_subtitle {
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.button_three {
  padding: 0 38px;
  color: #FF62B4;
  text-align: center;
  font-family: "Soyuz Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  height: 54px;
  cursor: pointer;
  border-radius: 55px;
  background: rgba(255, 217, 237, 0.5);
}

.modal_wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 19;
  background: rgba(0, 0, 0, 0.5);
}

.main_modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 20;
  padding: 40px 46px;
  border-radius: 40px;
  background: #FFF;
  width: 572px;
  transform: translate(-50%, -50%);
}
.main_modal h3 {
  max-width: 381px;
  color: #383838;
  font-family: "Soyuz Grotesk";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  margin-bottom: 26px;
}
.main_modal .modal_img {
  position: absolute;
  top: 0;
  right: 0;
}
.main_modal input {
  width: 100%;
  border-radius: 16px;
  background: rgba(245, 242, 245, 0.8);
  padding: 30px 24px 30px 32px;
  height: 80px;
  margin-bottom: 10px;
  display: block;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 88%; /* 17.6px */
  letter-spacing: -0.4px;
}
.main_modal textarea {
  width: 100%;
  height: 160px;
  width: 100%;
  border-radius: 16px;
  background: rgba(245, 242, 245, 0.8);
  padding: 30px 24px 30px 32px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 88%; /* 17.6px */
  letter-spacing: -0.4px;
  resize: none;
}
.main_modal p {
  margin-top: 10px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.18px;
}
.main_modal p a {
  padding-bottom: 2px;
  display: inline-block;
  border-bottom: 1px dashed !important;
}
.main_modal .button_three {
  height: 90px;
  color: #FFF;
  font-size: 26px;
  width: 100%;
  margin-top: 43px;
  border-radius: 55px;
  background-color: #FF62B4 !important;
}

.link_path {
  margin-top: 49px;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}
.link_path a {
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  text-transform: lowercase;
}

header {
  position: relative;
  padding: 32px 0;
}
header .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_left {
  display: flex;
  align-items: center;
}
header .header_right {
  display: flex;
  gap: 30px;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 23px;
}
header .logo h4 {
  color: #FF62B4;
  font-family: "Soyuz Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
}
header .logo span {
  color: rgba(56, 56, 56, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-transform: lowercase;
}
header .menu {
  margin-left: 50px;
  cursor: pointer;
  height: 60px;
  width: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 48px;
  background: #6E86C0;
}
header .menu span {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .menu .menu_close {
  display: none;
}
header .menu.active .menu_open {
  display: none;
}
header .menu.active .menu_close {
  display: block;
}
header .language {
  margin-left: 12px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 60px;
  cursor: pointer;
  color: #393D49;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 45px;
  border: 2px solid rgba(212, 224, 253, 0.5);
  background: #FFF;
  position: relative;
}
header .language .language_down {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
header .language.active .language_down {
  display: block;
}
header .messenger {
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}
header .messenger a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #6E86C0;
}
header .number {
  display: flex;
  flex-direction: column;
  align-items: end;
}
header .number a {
  white-space: nowrap;
  color: #FF62B4;
  font-family: "Soyuz Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}
header .number span {
  color: rgba(56, 56, 56, 0.8);
  text-align: right;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-transform: lowercase;
}
header .menu_bg {
  display: none;
  position: fixed;
  top: 141px;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}
header .menu_in {
  transform: translateY(-2px);
  z-index: 10;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 0 76px 0;
}
header .menu_in .bg_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20%;
}
header .menu_in .main_container {
  flex-wrap: wrap;
  align-items: start;
  justify-content: left;
  gap: 217px;
}
header .menu_in .menu_block {
  width: 371px;
}
header .menu_in .menu_block h3 {
  margin-top: 38px;
  margin-bottom: 2px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .menu_in .menu_block a {
  display: block;
  margin-top: 12px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#home {
  margin-top: 20px;
}
#home .home_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#home .home_slider {
  width: 1075px;
  position: relative;
  border-radius: 40px;
  background: rgba(212, 224, 253, 0.5);
  padding: 80px 70px;
}
#home .home_slider .home_slider_effekt {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#home .home_slider .home_slider_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home .home_slider .pagination {
  display: flex;
  align-items: center;
  gap: 16px;
}
#home .home_slider .pagination .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}
#home .home_slider .pagination .circle.active {
  width: 16px;
  height: 16px;
}
#home .home_slider span {
  margin-bottom: 16px;
  padding: 7px 19px;
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 99px;
  background: #FFF;
}
#home .home_slider h1 {
  max-width: 853px;
  color: #6E86C0;
  font-family: "Soyuz Grotesk";
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
  margin-bottom: 29px;
}
#home .home_slider p {
  max-width: 612px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150.5%;
  margin-bottom: 105px;
}
#home .home_btns {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
#home .home_btns button {
  height: 90px;
  width: 305px;
  text-align: center;
  font-family: "Soyuz Grotesk";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
#home .home_btns .home_btn_1 {
  border-radius: 55px;
  background: #FF62B4;
  color: #FFF;
}
#home .home_btns .home_btn_2 {
  color: #FF62B4;
  border-radius: 55px;
  background-color: #fff;
}
#home .home_img {
  max-width: 781px;
}
#home .home_img img {
  width: 100%;
}
#home .mission {
  margin-top: 120px;
}
#home .mission .main_container {
  display: flex;
  align-items: start;
}
#home .mission .mission_left span {
  padding: 12px 26px;
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 99px;
  background: rgba(212, 224, 253, 0.5);
  margin-bottom: 24px;
}
#home .mission .mission_left h1 {
  max-width: 930px;
  color: #6E86C0;
  leading-trim: both;
  text-edge: cap;
  font-family: "Soyuz Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
  margin-bottom: 60px;
}
#home .mission .mission_left a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  transition: 0.2s ease;
}
#home .mission .mission_left a:hover {
  gap: 20px;
}
#home .mission .mission_right {
  max-width: 711px;
}
#home .mission .mission_right p {
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  margin-bottom: 12px;
}
#home .mission .mission_right .mission_right_statistic {
  margin-top: 22px;
  display: flex;
  align-items: start;
  gap: 37px;
  padding-top: 34px;
  border-top: 2px solid rgba(110, 134, 192, 0.28);
}
#home .mission .mission_right .mission_right_statistic h4 {
  color: #6E86C0;
  font-family: "Soyuz Grotesk";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
  margin-bottom: 8px;
}
#home .mission .mission_right .mission_right_statistic p {
  color: #6E86C0;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
#home .mission_bottom {
  margin-top: 80px;
}
#home .mission_bottom img {
  width: 100%;
}
#home .opportunity {
  overflow: hidden;
  position: relative;
  margin-top: 130px;
  padding-bottom: 187px;
}
#home .opportunity .main_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#home .opportunity .opportunity_text {
  max-width: 912px;
}
#home .opportunity .opportunity_text span {
  padding: 12px 26px;
  color: #FF62B4;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 99px;
  background: rgba(255, 98, 180, 0.1);
}
#home .opportunity .opportunity_text h1 {
  color: #FF62B4;
  leading-trim: both;
  text-edge: cap;
  font-family: "Soyuz Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
}
#home .opportunity .opportunity_text p {
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  margin-bottom: 12px;
}
#home .opportunity .opportunity_text a {
  margin-top: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FF62B4;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  transition: 0.2s ease;
}
#home .opportunity .opportunity_text a:hover {
  gap: 20px;
}
#home .opportunity .opportunity_img {
  display: flex;
  align-items: start;
  gap: 24px;
}
#home .opportunity .opportunity_effekt {
  max-width: 1920px;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 70px;
  width: 100%;
}
#home .news_slider .wrapper_container {
  border-radius: 40px;
  background: rgba(255, 98, 180, 0.07);
}
#home .news_slider .main_container {
  padding: 77px 20px 63px 20px;
}
#home .news_slider .news_slider_head {
  margin-bottom: 70px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
#home .news_slider .news_slider_head span {
  display: inline-block;
  padding: 12px 26px;
  color: #FF62B4;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 99px;
  background-color: #fff;
}
#home .news_slider .news_slider_head h2 {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  color: #FF62B4;
  leading-trim: both;
  text-edge: cap;
  font-family: "Soyuz Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
}
#home .news_slider .newsSlider .massmedia_card .massmedia_card_img {
  position: relative;
}
#home .news_slider .newsSlider .massmedia_card .massmedia_card_img img {
  width: 100%;
}
#home .news_slider .newsSlider .massmedia_card .massmedia_card_img .massmedia_date {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: -0.16px;
  border-radius: 40px;
  background: #FFF;
  padding: 8px 14px;
}
#home .news_slider .newsSlider .massmedia_card h4 {
  margin-top: 21px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
#home .news_slider .newsSlider .massmedia_card p {
  margin-top: 14px;
  color: rgba(56, 56, 56, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
#home .news_slider .newsSlider .massmedia_card a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 31.9px */
  transition: 0.2s ease;
}
#home .news_slider .newsSlider .massmedia_card a:hover {
  gap: 20px;
}
#home .news_slider .news_slider_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  transform: translateY(10px);
}
#home .news_slider .news_slider_btns .left_btn {
  transform: rotate(180deg);
}
#home .news_slider .news_slider_btns button {
  width: 70px;
}
#home .news_slider_bottom {
  margin-top: 20px;
  margin-bottom: 120px;
}
#home .news_slider_bottom img {
  width: 100%;
}
#home .partners_slider .partners_title {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 70px;
}
#home .partners_slider .partners_title span {
  padding: 12px 26px;
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 99px;
  background: rgba(212, 224, 253, 0.5);
}
#home .partners_slider .partners_title h1 {
  margin-top: 24px;
  color: #6E86C0;
  leading-trim: both;
  text-edge: cap;
  font-family: "Soyuz Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
}
#home .partners_slider .partners_btn {
  position: absolute;
  top: 0;
  right: 0;
}
#home .partners_slider .partners_btn .partners_btn_left {
  transform: rotate(180deg);
}
#home .partners_slider .partenrsSlider {
  margin-bottom: 150px;
}
#home .partners_slider .partenrsSlider .partners_card {
  text-align: center;
}
#home .partners_slider .partenrsSlider .partners_card .partners_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  border-radius: 40px;
  background: #F5F8FE;
}
#home .partners_slider .partenrsSlider .partners_card h3 {
  margin-top: 18px;
  margin-bottom: 8px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
#home .partners_slider .partenrsSlider .partners_card a {
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
#home .application .wrapper_container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 24px;
}
#home .application .application_left {
  width: 1075px;
}
#home .application .application_right {
  padding: 70px 30px 77px 70px;
  border-radius: 40px;
  background: #6E86C0;
}
#home .application .application_right span {
  padding: 12px 26px;
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 99px;
  background: #FFF;
}
#home .application .application_right h1 {
  margin-top: 24px;
  margin-bottom: 50px;
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: "Soyuz Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
}
#home .application .application_right p {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  margin-bottom: 50px;
}
#home .application .application_right .application_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
#home .questions {
  padding-top: 120px;
  position: relative;
}
#home .questions .questions_title {
  padding-bottom: 70px;
}
#home .questions .questions_title .questions_effekt {
  position: absolute;
  top: 49px;
  right: 0;
}
#home .questions .questions_title span {
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
#home .questions .questions_title h1 {
  max-width: 858px;
  margin-top: 24px;
  color: #6E86C0;
  leading-trim: both;
  text-edge: cap;
  font-family: "Soyuz Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
}
#home .questions .accardion_wrapper {
  position: relative;
  z-index: 2;
  background-color: #fff;
}
#home .questions .accardion_btn {
  margin-bottom: 14px;
  padding: 30px;
  border-radius: 24px;
  background: #F2F5FE;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
#home .questions .accardion_btn span {
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
#home .questions .accardion_btn img {
  transition: 0.3s ease;
}
#home .questions .accardion_btn.active img {
  transform: rotate(220deg);
}
#home .questions .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#home .questions .accordion-item-body-content {
  padding: 0 1rem 1rem 1rem;
  line-height: 1.5rem;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
#home .contact_block {
  margin-top: 120px;
  margin-bottom: 100px;
}
#home .contact_block .wrapper_container {
  display: flex;
  align-items: stretch;
  gap: 24px;
}
#home .contact_block .contact_block_left {
  padding: 70px;
  border-radius: 40px;
  background: rgba(255, 98, 180, 0.07);
}
#home .contact_block .contact_block_left h1 {
  max-width: 660px;
  color: #FF62B4;
  font-family: "Soyuz Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
  margin-bottom: 30px;
}
#home .contact_block .contact_block_left p {
  max-width: 587px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 50px;
}
#home .contact_block .contact_block_left .contact_block_left_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home .contact_block .contact_block_left .contact_block_left_btns .left_btn, #home .contact_block .contact_block_left .contact_block_left_btns .right_btn {
  border-radius: 55px;
  background: #FF62B4;
  color: #fff;
  padding: 22px 40px;
  text-align: center;
  font-family: "Soyuz Grotesk";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
#home .contact_block .contact_block_left .contact_block_left_btns .right_btn {
  color: #FF62B4;
  background: rgba(255, 98, 180, 0.16);
}
#home .contact_block .contact_block_left .contact_block_left_btns .massanger a {
  width: 80px;
  height: 80px;
}
#home .contact_block .contact_block_left .contact_block_left_btns .massanger a img {
  width: 100%;
}

#about {
  overflow-x: hidden;
}
#about .main_container {
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: space-between;
}
#about .about_text {
  max-width: 930px;
}
#about .about_text p {
  margin-bottom: 12px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 31.9px */
}
#about .about_statistic {
  display: flex;
  align-items: start;
  gap: 30px;
}
#about .about_statistic .about_statistic_block {
  border-right: 2px solid rgba(107, 128, 181, 0.2);
}
#about .about_statistic .about_statistic_block:last-child {
  border-right: none;
}
#about .about_statistic h5 {
  color: #FF62B4;
  font-family: "Soyuz Grotesk";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
  margin-bottom: 8px;
}
#about .about_statistic span {
  max-width: 270px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}
#about .about_effekt_img {
  transform: translateY(-15%);
  width: 100%;
}

#employees {
  margin-bottom: 100px;
}
#employees .main_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
#employees .employees_card {
  width: calc(33.3333333333% - 20px);
  overflow: hidden;
  border-radius: 30px;
  background: rgba(233, 239, 253, 0.6);
}
#employees .employees_card img {
  width: 100%;
  border-radius: 30px;
}
#employees .employees_card .employess_text {
  padding: 30px;
}
#employees .employees_card h4 {
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  letter-spacing: -0.64px;
  margin-top: 3px;
  margin-bottom: 12px;
}
#employees .employees_card p {
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 23.4px */
  letter-spacing: -0.18px;
}
#employees .employees_card .more_link {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#employees .employees_card .employess_link {
  transform: scale(0);
  height: 54px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF62B4;
  text-align: center;
  font-family: "Soyuz Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  border-radius: 55px;
  border: 2px solid #FF62B4;
  transition: 0.3s ease;
}
#employees .employees_card:hover .employess_link {
  transform: scale(1);
}

#documentation {
  padding-bottom: 120px;
}
#documentation .documentation_title {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 20px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 60.9px */
  margin-bottom: 40px;
}
#documentation .main_container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
#documentation .documentation_card {
  width: calc(33.3333333333% - 20px);
}
#documentation .documentation_card .documentation_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  border-radius: 30px;
  background: #F2F5FE;
}
#documentation .documentation_card .documentation_img img {
  width: 270px !important;
}
#documentation .documentation_card h4 {
  margin: 20px 0 10px 0;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 24.2px */
}
#documentation .documentation_card p {
  margin-bottom: 12px;
}
#documentation .documentation_card p,
#documentation .documentation_card span {
  color: rgba(56, 56, 56, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

#licenses {
  margin-bottom: 120px;
}
#licenses .wrapper_container {
  padding: 70px 80px;
  border-radius: 40px;
  background: #6E86C0;
}
#licenses .licenses_title {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#licenses .licenses_title h2 {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
}
#licenses .licenses_btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
#licenses .licenses_btns svg {
  cursor: pointer;
}
#licenses .licensesSlider .documentation_card .documentation_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  border-radius: 30px;
  background: #F2F5FE;
}
#licenses .licensesSlider .documentation_card .documentation_img img {
  max-width: 264px;
}
#licenses .licensesSlider .documentation_card h4 {
  margin: 20px 0 10px 0;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 24.2px */
}
#licenses .licensesSlider .documentation_card p {
  margin-bottom: 12px;
}
#licenses .licensesSlider .documentation_card p,
#licenses .licensesSlider .documentation_card span {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
}

#massmedia {
  margin-bottom: 150px;
}
#massmedia .main_container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
#massmedia .main_container:nth-child(2) {
  justify-content: start;
}
#massmedia .massmedia_card {
  margin-bottom: 70px;
  width: calc(25% - 24px);
}
#massmedia .massmedia_card .massmedia_card_img {
  position: relative;
}
#massmedia .massmedia_card .massmedia_card_img img {
  width: 100%;
}
#massmedia .massmedia_card .massmedia_card_img .massmedia_date {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  letter-spacing: -0.16px;
  border-radius: 40px;
  background: #FFF;
  padding: 8px 14px;
}
#massmedia .massmedia_card h4 {
  margin-top: 21px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
#massmedia .massmedia_card p {
  margin-top: 14px;
  color: rgba(56, 56, 56, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
#massmedia .massmedia_card a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%; /* 31.9px */
  transition: 0.2s ease;
}
#massmedia .massmedia_card a:hover {
  gap: 20px;
}
#massmedia .massmedia_pagination {
  display: flex;
  align-items: center;
}
#massmedia .massmedia_pagination a {
  display: block;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.18px;
  margin-left: 16px;
  transition: 0.2s ease;
}
#massmedia .massmedia_pagination a:hover {
  opacity: 0.7;
}
#massmedia .massmedia_pagination a:nth-child(1) {
  margin-left: 0;
  margin-right: 16px;
}
#massmedia .massmedia_pagination button {
  margin: 0 8px;
  width: 48px;
  height: 48px;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.18px;
  border-radius: 8px;
  background: rgba(255, 98, 180, 0.1);
  transition: 0.2s ease;
}
#massmedia .massmedia_pagination button:hover {
  color: #fff;
  background-color: #FF62B4;
}

#questions .accardion_wrapper {
  position: relative;
  z-index: 2;
  background-color: #fff;
}
#questions .accardion_btn {
  margin-bottom: 14px;
  padding: 30px;
  border-radius: 24px;
  background: #F2F5FE;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
#questions .accardion_btn span {
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  text-align: left;
}
#questions .accardion_btn img {
  transition: 0.3s ease;
}
#questions .accardion_btn.active img {
  transform: rotate(225deg);
}
#questions .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#questions .accordion-item-body-content {
  padding: 0 1rem 1rem 1rem;
  line-height: 1.5rem;
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
}
#questions .application {
  margin: 106px 0;
}
#questions .application .wrapper_container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 24px;
}
#questions .application .application_left {
  width: 1075px;
}
#questions .application .application_right {
  padding: 70px 30px 77px 70px;
  border-radius: 40px;
  background: #6E86C0;
}
#questions .application .application_right span {
  padding: 12px 26px;
  color: #6E86C0;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border-radius: 99px;
  background: #FFF;
}
#questions .application .application_right h1 {
  margin-top: 24px;
  margin-bottom: 50px;
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: "Soyuz Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.5%;
}
#questions .application .application_right p {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  margin-bottom: 50px;
}
#questions .application .application_right .application_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

#contact {
  margin-bottom: 150px;
}
#contact .wrapper_container {
  position: relative;
}
#contact .wrapper_container iframe {
  border-radius: 40px;
  height: 780px;
  width: 100%;
}
#contact .wrapper_container .main_container {
  position: absolute;
  top: 43px;
  left: 70px;
}
#contact .wrapper_container .contact {
  max-width: 634px;
  padding: 60px 82px 60px 70px;
  border-radius: 40px;
  background: #FFF;
}
#contact .wrapper_container .contact span {
  display: block;
  color: #FF62B4;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  margin-bottom: 10px;
}
#contact .wrapper_container .contact .contact_address {
  margin-bottom: 34px;
}
#contact .wrapper_container .contact p {
  margin-top: 4px;
  margin-bottom: 34px;
  color: rgba(56, 56, 56, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-transform: lowercase;
}
#contact .wrapper_container .contact a {
  color: #383838;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
}
#contact .wrapper_container .contact .contact_btns {
  margin-top: 100px;
  display: flex;
  align-items: center;
}
#contact .wrapper_container .contact .contact_btns a {
  margin-right: 10px;
}
#contact .wrapper_container .contact .contact_btns .button_three {
  margin-left: auto;
}

footer {
  overflow: hidden;
  background: #6E86C0;
}
footer .footer_top_block {
  transform: translateY(-50%);
  height: 105px;
  border-radius: 0 0 60px 60px;
  background: #FFF;
}
footer .footer_top {
  padding-bottom: 36px;
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: space-between;
}
footer .footer_top .logo_footer {
  margin-bottom: 30px;
}
footer .footer_top .logo_footer h4 {
  color: #FFF;
  font-family: "Soyuz Grotesk";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
footer .footer_top .logo_footer p {
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 22.5px */
  text-transform: lowercase;
}
footer .footer_top .footer_block {
  width: 45%;
}
footer .footer_top .footer_block .letsinziya {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 22.5px */
  text-transform: lowercase;
}
footer .footer_top .footer_block .footer_link {
  display: block;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 14px;
}
footer .footer_top .footer_block .button_three {
  display: block;
  margin-bottom: 10px;
}
footer .footer_top .footer_block .button_three_footer_one {
  color: #6E86C0;
  font-size: 18px;
  background-color: #FFF;
}
footer .footer_top .footer_block .button_three_footer_two {
  color: #fff;
  background: rgba(255, 255, 255, 0.17);
}
footer .footer_top .footer_block .address {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 23.2px */
  margin-bottom: 16px;
}
footer .footer_top .footer_block .address_bottom {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 23.2px */
}
footer .footer_top .footer_block .adress_end {
  margin-top: 115px;
}
footer .footer_top .footer_block .footer_text {
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 29px */
}
footer .footer_top .footer_block .phone {
  display: block;
  color: #FFF;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.24px;
}
footer .footer_bottom {
  padding: 35px 0;
  border-top: 2px solid rgba(255, 255, 255, 0.16);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_bottom p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 26.1px */
}

@media (max-width: 1806px) {
  #questions .application {
    align-items: stretch;
  }
  #questions .application .application_right {
    flex: 1;
    padding: 45px 30px 30px 40px;
  }
  #questions .application .application_left {
    flex: 2;
  }
}
@media (max-width: 1690px) {
  #questions .application .application_right {
    flex: 1;
  }
  #questions .application .application_left {
    flex: 2;
  }
  #questions .application .application_left img {
    border-radius: 40px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1600px) {
  header .menu_in .main_container {
    gap: 70px;
  }
  #questions .application .application_right span {
    font-size: 18px;
  }
  #questions .application .application_right h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  #questions .application .application_right p {
    font-size: 18px;
  }
}
@media (max-width: 1400px) {
  #employees .employees_card .employess_text {
    padding: 25px;
  }
  #employees .employees_card .employess_link {
    height: 40px;
    width: 120px;
    font-size: 16px;
  }
  #employees .employees_card p {
    font-size: 14px;
  }
  #employees .employees_card h4 {
    height: 60px;
    font-size: 25px;
  }
  #employees .employees_card .more_link {
    margin-top: 33px;
  }
  #documentation .documentation_card .documentation_img {
    padding: 30px 0;
  }
}
@media (max-width: 1300px) {
  header .menu {
    margin-left: 10px;
  }
  header .header_right {
    gap: 10px;
  }
  header .menu_in .menu_block {
    width: auto;
  }
  header .menu_in .main_container {
    gap: 30px;
  }
  #about .about_img img {
    width: 100%;
  }
  #documentation .main_container {
    gap: 15px;
  }
  #documentation .documentation_card .documentation_img {
    padding: 30px;
  }
  #documentation .documentation_card .documentation_img img {
    width: 100%;
  }
  #massmedia .massmedia_card {
    width: calc(33.3333333333% - 24px);
  }
  #contact .wrapper_container iframe {
    height: 690px;
  }
  #contact .wrapper_container .contact {
    padding: 40px 62px 40px 50px;
    max-width: 500px;
  }
  #contact .wrapper_container .contact a {
    font-size: 25px;
  }
  #contact .wrapper_container .main_container {
    top: 30px;
    left: 30px;
  }
}
@media (max-width: 1155px) {
  header .header_right .number {
    display: none;
  }
  header .header_right .button_three {
    display: none;
  }
  #about .main_container {
    flex-direction: column-reverse;
  }
  #about .about_effekt_img {
    transform: translateY(0);
  }
  #documentation .main_container {
    gap: 30px;
  }
  #documentation .documentation_card {
    width: calc(50% - 20px);
  }
  #documentation .documentation_card .documentation_img {
    padding: 30px;
  }
  #documentation .documentation_card .documentation_img img {
    width: 100%;
  }
}
@media (max-width: 993px) {
  #employees .main_container {
    gap: 20px;
  }
  #employees .employees_card {
    width: calc(50% - 10px);
  }
  #massmedia .massmedia_card {
    width: calc(50% - 24px);
  }
  #contact {
    margin-bottom: 50px;
  }
  #contact .wrapper_container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
  #contact .wrapper_container .main_container {
    position: static;
  }
  #contact .wrapper_container .contact {
    border: 1px solid #F2F5FE;
    box-shadow: 1px -1px 14px 4px rgba(242, 245, 254, 0.75);
    -webkit-box-shadow: 1px -1px 14px 4px rgba(242, 245, 254, 0.75);
    -moz-box-shadow: 1px -1px 14px 4px rgba(242, 245, 254, 0.75);
  }
  #questions .application .wrapper_container {
    flex-direction: column-reverse;
  }
  #questions .application .application_right h1 {
    font-size: 44px;
    margin-bottom: 44px;
  }
  #questions .application .application_right .application_btns img {
    width: 70px;
  }
  #questions .application .application_left {
    width: 100%;
  }
  #questions .application .application_left img {
    width: 100%;
  }
  footer .footer_top {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .link_path {
    margin: 10px 0;
    gap: 5px;
  }
  .link_path a {
    font-size: 12px;
  }
  .main_title {
    margin-bottom: 10px;
    font-size: 45px;
  }
  .main_title_under {
    font-size: 16px;
    margin-bottom: 15px;
  }
  header .menu_bg {
    top: 112px;
  }
  header .logo {
    gap: 10px;
  }
  header .logo h4 {
    font-size: 16px;
  }
  header .logo span {
    font-size: 10px;
  }
  header .logo img {
    width: 55px;
  }
  header .menu {
    width: 112px;
    height: 45px;
    gap: 10px;
  }
  header .menu span {
    font-size: 16px;
  }
  header .language {
    gap: 5px;
    height: 45px;
    width: 85px;
    font-size: 16px;
  }
  header .messenger {
    margin-right: 0;
  }
  header .messenger .first_icon img {
    width: 20px;
  }
  header .messenger a {
    width: 40px;
    height: 40px;
  }
  header .messenger a img {
    width: 100%;
  }
  #massmedia {
    margin-bottom: 50px;
  }
  #massmedia .massmedia_card {
    margin-bottom: 20px;
    width: calc(50% - 14px);
  }
  #massmedia .massmedia_card h4 {
    margin-top: 10px;
    font-size: 18px;
  }
  #massmedia .massmedia_card p {
    margin-top: 5px;
    font-size: 16px;
  }
  #massmedia .massmedia_card a {
    font-size: 17px;
  }
  #massmedia .massmedia_pagination {
    margin-top: 20px;
  }
  #massmedia .massmedia_pagination a {
    margin: 10px;
  }
  #massmedia .massmedia_pagination a:nth-child(1) {
    margin-left: 0;
    margin-right: 10px;
  }
  #about .about_statistic {
    gap: 10px;
  }
  #about .about_statistic h5 {
    font-size: 30px;
  }
  #about .about_statistic span {
    font-size: 18px;
  }
  #about .about_text p {
    font-size: 18px;
  }
  #employees .employees_card .employess_text {
    padding: 15px;
  }
  #employees .employees_card .employess_text h4 {
    margin: 0;
  }
  #employees .employees_card .employess_text .more_link {
    margin-top: 13px;
  }
  #documentation .documentation_title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #documentation .documentation_card h4 {
    font-size: 18px;
  }
  #documentation .documentation_card span,
  #documentation .documentation_card p {
    font-size: 15px;
  }
  #documentation .documentation_card .documentation_img {
    padding: 20px 10px;
  }
  #documentation .documentation_card .documentation_img img {
    transform: translateY(20px);
  }
  #questions .accardion_btn {
    padding: 19px;
  }
  #questions .accardion_btn span {
    font-size: 20px;
  }
  #questions .accardion_btn img {
    width: 27px;
  }
  #questions .accordion-item-body-content {
    font-size: 16px;
  }
  #questions .application {
    margin: 50px 0;
  }
}
@media (max-width: 600px) {
  .modal_wrapper .main_modal {
    width: calc(100% - 20px);
    padding: 25px 30px;
  }
  .modal_wrapper .main_modal .modal_img {
    z-index: -1;
    width: 25%;
  }
  .modal_wrapper .main_modal h3 {
    margin: 0 auto 10px auto;
    font-size: 30px;
    text-align: center;
  }
  .modal_wrapper .main_modal input {
    padding: 20px;
    height: 65px;
  }
  .modal_wrapper .main_modal textarea {
    padding: 20px;
    height: 130px;
  }
  .modal_wrapper .main_modal p {
    font-size: 16px;
  }
  .modal_wrapper .main_modal .button_three {
    margin-top: 25px;
    height: 65px;
    font-size: 23px;
  }
  #employees .employees_card {
    width: 100%;
  }
  #employees .employees_card .employess_text {
    padding: 20px;
  }
  #employees .employees_card h4 {
    margin-bottom: 12px;
    height: auto;
  }
  #documentation {
    padding-bottom: 50px;
  }
  #documentation .documentation_card {
    width: 100%;
  }
  #documentation .documentation_card .documentation_img img {
    width: 70%;
  }
  #contact .wrapper_container iframe {
    height: 400px;
  }
  #contact .main_container {
    padding: 0;
  }
  #contact .main_container .contact {
    padding: 25px;
  }
  #contact .main_container .contact a {
    font-size: 20px;
  }
  #contact .main_container .contact span {
    font-size: 16px;
  }
  #contact .main_container .contact .contact_btns {
    margin-top: 50px;
  }
  #contact .contact_btns a img {
    width: 50px;
    height: 50px;
  }
  footer .footer_top .footer_block {
    width: 100%;
  }
  footer .footer_top .footer_block .letsinziya {
    font-size: 16px;
  }
  footer .footer_top .footer_block .address {
    margin-top: 30px;
  }
  footer .footer_top .footer_block .address_end {
    margin-top: 30px;
  }
  footer .footer_top .footer_block .footer_text {
    font-size: 16px;
  }
  footer .footer_top .footer_block .footer_link {
    font-size: 18px;
    margin-bottom: 10px;
  }
  footer .footer_top .footer_block .phone {
    font-size: 20px;
  }
  footer .footer_top .footer_block .messengers img {
    width: 40px;
    height: 40px;
  }
  footer .footer_top .footer_block .button_three {
    height: 45px;
    font-size: 16px;
  }
  footer .footer_bottom p {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  #massmedia .massmedia_card {
    margin-bottom: 20px;
    width: 100%;
  }
  #massmedia .massmedia_card h4 {
    margin-top: 15px;
    font-size: 21px;
  }
  #massmedia .massmedia_card p {
    margin-top: 10px;
    font-size: 18px;
  }
  #massmedia .massmedia_card a {
    font-size: 19px;
  }
  #massmedia .massmedia_pagination {
    margin-top: 20px;
  }
  #massmedia .massmedia_pagination a {
    font-size: 15px;
    margin: 10px;
  }
  #massmedia .massmedia_pagination a:nth-child(1) {
    margin-left: 0;
    margin-right: 10px;
  }
  #massmedia .massmedia_pagination button {
    font-size: 14px;
    width: 35px;
    height: 35px;
    margin: 0 3px;
  }
}
@media (max-width: 566px) {
  header .menu_in {
    padding: 0;
  }
  header .menu_in .main_container {
    gap: 5px;
  }
  header .menu_in .menu_block h3 {
    margin-top: 13px;
    font-size: 17px;
  }
  header .menu_in .menu_block a {
    margin-top: 7px;
    font-size: 14px;
  }
  header .header_left {
    width: 100%;
  }
  header .header_left .menu {
    margin-left: auto;
  }
  header .header_right {
    display: none;
  }
  #about .about_text p {
    font-size: 15px;
  }
  #about .about_statistic h5 {
    font-size: 20px;
  }
  #about .about_statistic span {
    max-width: 100%;
    font-size: 14px;
  }
  #questions .application .application_right {
    padding: 30px;
  }
  #questions .application .application_right span {
    font-size: 14px;
    padding: 5px 15px;
  }
  #questions .application .application_right h1 {
    margin: 10px 0;
    font-size: 25px;
  }
  #questions .application .application_right p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 127%;
  }
  #questions .application .application_right .application_btns {
    gap: 5px;
  }
  #questions .application .application_right .application_btns img {
    width: 45px;
  }
  footer .footer_top_block {
    border-radius: 0 0 35px 35px;
    height: 70px;
  }
  footer .footer_bottom {
    padding: 20px 0;
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .main_title {
    font-size: 35px;
  }
  .main_container {
    padding: 0 10px;
  }
  header {
    padding: 10px 0;
  }
  header .menu_bg {
    top: 68px;
  }
  header .menu {
    width: 90px;
    height: 35px;
  }
  header .menu img {
    width: 15px;
  }
  header .menu span {
    font-size: 13px;
  }
  header .language {
    margin-left: 5px;
    width: 65px;
    height: 35px;
    font-size: 13px;
  }
  header .language img {
    width: 10px;
  }
  #questions .accardion_btn {
    margin-bottom: 8px;
    padding: 15px;
  }
  #questions .accardion_btn span {
    font-size: 13px;
  }
  #questions .accardion_btn img {
    width: 15px;
  }
  #questions .accordion-item-body-content {
    font-size: 11px;
  }
}/*# sourceMappingURL=style.css.map */